<h1>Tasks</h1>

<% if (@tasks.length > 0) %>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag task.title, task.id, task.completed, {id: task.id} %>
      <%= task.title %>
    </li>
  <% end %>
  </ul>
<% else %>
  <%= "No task to be displayed at the moment" %>
<% end %>
