<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><a href="/tasks/<%= @task.id %>/edit"><i class="fa-solid fa-pen"></i> Edit task</a></p>
<p><a href="/tasks"><i class="fa-solid fa-angles-left"></i> Back to list</a></p>
